name: CI TypeSupport_MicroXRCEDDS

on:
    pull_request:
      branches: [ * ]

jobs:

  rosidl_typesupport_microxrcedds_ci:
        runs-on: ubuntu-20.04
        container: pablogs9/microros_agent:foxy
    
        steps:
        - uses: actions/checkout@v2
          with:
            path: src/rosidl_typesupport_microxrcedds

        - name: Download dependencies
          run: |
            git clone -b foxy https://github.com/eProsima/Micro-CDR src/Micro-CDR 
            git clone -b foxy https://github.com/eProsima/Micro-XRCE-DDS-Client src/Micro-XRCE-DDS-Client 
            git clone -b feature/foxy_migration https://github.com/micro-ROS/rmw-microxrcedds src/rmw-microxrcedds
            
        - name: Build
          run: . /opt/ros/foxy/setup.sh && colcon build --cmake-args -DBUILD_SHARED_LIBS=ON

        - name: Test
          run: | 
            . /opt/ros/foxy/setup.sh && . install/local_setup.sh 
            cd build/
            ./rosidl_typesupport_microxrcedds_cpp_tests/test_typesupport
            ./rosidl_typesupport_microxrcedds_c_tests/test_typesupport
